<div class="row">
    <div class="col-md-12">
        <hr/>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th >Employee&nbsp;Num</th>
                    <th>Full&nbsp;Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Manager&nbsp;ID</th>
                    <th>Status</th>
                    <th>Department</th>
                    <th>Hired&nbsp;On</th>
                </thead>
                <tbody>
                {{#each ToDoList}}
                <tr>
                    <td>{{this.Listnum}}</td>
                    <td><a href="/ToDoList/{{this.Listnum}}">{{this.Listnum}}</a></td>
                    <td>{{this.Listname}}</td>
                    <td>{{this.Description}}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
         </div>
    </div>
    {{#unless ToDoList}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
    {{/unless}}
</div>